<p id="notice"><%= notice %></p>

<p>
  <b>F nm:</b>
  <%= @host_family_info.f_nm %>
</p>

<p>
  <b>L nm:</b>
  <%= @host_family_info.l_nm %>
</p>

<p>
  <b>Sex:</b>
  <%= @host_family_info.sex %>
</p>

<p>
  <b>Dob:</b>
  <%= @host_family_info.dob %>
</p>

<p>
  <b>Street:</b>
  <%= @host_family_info.street %>
</p>

<p>
  <b>City:</b>
  <%= @host_family_info.city %>
</p>

<p>
  <b>State:</b>
  <%= @host_family_info.state %>
</p>

<p>
  <b>Zip:</b>
  <%= @host_family_info.zip %>
</p>

<p>
  <b>Homephone:</b>
  <%= @host_family_info.homephone %>
</p>

<p>
  <b>Cellphone:</b>
  <%= @host_family_info.cellphone %>
</p>

<p>
  <b>Email:</b>
  <%= @host_family_info.email %>
</p>

<p>
  <b>Ethnicity:</b>
  <%= @host_family_info.ethnicity %>
</p>

<p>
  <b>Legal status:</b>
  <%= @host_family_info.legal_status %>
</p>

<p>
  <b>Education:</b>
  <%= @host_family_info.education %>
</p>

<p>
  <b>Religion:</b>
  <%= @host_family_info.religion %>
</p>

<p>
  <b>Occupation:</b>
  <%= @host_family_info.occupation %>
</p>

<p>
  <b>English level:</b>
  <%= @host_family_info.english_level %>
</p>

<p>
  <b>Primary language:</b>
  <%= @host_family_info.primary_language %>
</p>

<p>
  <b>Second language:</b>
  <%= @host_family_info.second_language %>
</p>

<p>
  <b>Homestay experience:</b>
  <%= @host_family_info.homestay_experience %>
</p>

<p>
  <b>Student sex:</b>
  <%= @host_family_info.student_sex %>
</p>

<p>
  <b>Student group:</b>
  <%= @host_family_info.student_group %>
</p>

<p>
  <b>Marrital status:</b>
  <%= @host_family_info.marrital_status %>
</p>

<p>
  <b>S f nm:</b>
  <%= @host_family_info.s_f_nm %>
</p>

<p>
  <b>S l nm:</b>
  <%= @host_family_info.s_l_nm %>
</p>

<p>
  <b>S sex:</b>
  <%= @host_family_info.s_sex %>
</p>

<p>
  <b>S dob:</b>
  <%= @host_family_info.s_dob %>
</p>

<p>
  <b>S ethnicity:</b>
  <%= @host_family_info.s_ethnicity %>
</p>

<p>
  <b>S legal status:</b>
  <%= @host_family_info.s_legal_status %>
</p>

<p>
  <b>S education:</b>
  <%= @host_family_info.s_education %>
</p>

<p>
  <b>S final school:</b>
  <%= @host_family_info.s_final_school %>
</p>

<p>
  <b>Final school:</b>
  <%= @host_family_info.final_school %>
</p>

<p>
  <b>S religion:</b>
  <%= @host_family_info.s_religion %>
</p>

<p>
  <b>S occupation:</b>
  <%= @host_family_info.s_occupation %>
</p>

<p>
  <b>S english level:</b>
  <%= @host_family_info.s_english_level %>
</p>

<p>
  <b>S primary language:</b>
  <%= @host_family_info.s_primary_language %>
</p>

<p>
  <b>S second language:</b>
  <%= @host_family_info.s_second_language %>
</p>

<p>
  <b>Number of kids:</b>
  <%= @host_family_info.number_of_kids %>
</p>

<p>
  <b>Kids detail:</b>
  <%= @host_family_info.kids_detail %>
</p>

<p>
  <b>House ownership:</b>
  <%= @host_family_info.house_ownership %>
</p>

<p>
  <b>House type:</b>
  <%= @host_family_info.house_type %>
</p>

<p>
  <b>Num of bedroom:</b>
  <%= @host_family_info.num_of_bedroom %>
</p>

<p>
  <b>Num of bathroom:</b>
  <%= @host_family_info.num_of_bathroom %>
</p>

<p>
  <b>Num of car:</b>
  <%= @host_family_info.num_of_car %>
</p>

<p>
  <b>Num of pet:</b>
  <%= @host_family_info.num_of_pet %>
</p>

<p>
  <b>Pet detail:</b>
  <%= @host_family_info.pet_detail %>
</p>

<p>
  <b>Avail room:</b>
  <%= @host_family_info.avail_room %>
</p>

<p>
  <b>Ride avail:</b>
  <%= @host_family_info.ride_avail %>
</p>

<p>
  <b>Comment:</b>
  <%= @host_family_info.comment %>
</p>

<p>
  <b>Way to know nh:</b>
  <%= @host_family_info.way_to_know_nh %>
</p>

<p>
  <b>Ind confirm:</b>
  <%= @host_family_info.ind_confirm %>
</p>


<%= link_to 'Edit', edit_host_family_info_path(@host_family_info) %> |
<%= link_to 'Back', host_family_infos_path %>
