<b><%= t("#{@titlelabel0}") %> -> <%= t("#{@titlelabel}") %></b>

<hr size=10></hr>

<%= will_paginate @success_cases %>

<table class="nhtabclass">
<% @success_cases.each do |success_case| %>
  <% success_case.force_utf %>
  
  <tr>
    <td colspan=2><%= success_case.student_name %>: <%= success_case.school_name %></td>
  </tr>
  
  <tr>
		<td class="nhtabtdclasstop" width=35%>
			<%= image_tag(success_case.success_case_pic.url(:large), :height => '200', :width => '260', :alt => "New Hope International Education", :class => "round") %>
		</td>
		<td class="nhtabtdclasstop"><%= raw(success_case.msg) %>
			<hr size=10></hr>
		</td>
  </tr>

<% end %>
</table>

<%= will_paginate @success_cases %>