<h1><%= t('header.label.signin') %></h1>

<%= form_for(:session, :url => sessions_path) do |f| %>
	<div class="field">
		<%= t('label.email') %><br />
		<%= f.text_field :email %>
	</div>
	
	<div class="field">
		<%= t('label.password') %><br />
		<%= f.password_field :password %>
	</div>
	
	<div class="actions">
		<%= f.submit t('label.signin') %>
	</div>
	
	<%= hidden_field_tag 'session[astr]', "#{@salt}" %>
<% end %>

<p><%= t('label.newuser') %>? <%= link_to t('label.signupnow'), signup_path %></p>
