<% @college_list.force_utf %>

<p id="notice"><%= notice %></p>

<p>
  <b>Name en:</b>
  <%= @college_list.name_en %>
</p>

<p>
  <b>Name cn:</b>
  <%= @college_list.name_cn %>
</p>

<p>
  <b>Address:</b>
  <%= @college_list.address %>
</p>

<p>
  <b>Website:</b>
  <%= @college_list.website %>
</p>

<p>
  <b>School type:</b>
  <%= @college_list.school_type %>
</p>

<p>
  <b>Founded:</b>
  <%= @college_list.founded %>
</p>

<p>
  <b>Total student:</b>
  <%= @college_list.total_student %>
</p>

<p>
  <b>Enrollment:</b>
  <%= @college_list.enrollment %>
</p>

<p>
  <b>Acceptance rate:</b>
  <%= @college_list.acceptance_rate %>
</p>

<p>
  <b>Teacher student ratio:</b>
  <%= @college_list.teacher_student_ratio %>
</p>

<p>
  <b>I18n student info:</b>
  <%= @college_list.student_info %>
</p>

<p>
  <b>I18n student info:</b>
  <%= @college_list.faculty_info %>
</p>

<p>
  <b>Sat score:</b>
  <%= @college_list.sat_score %>
</p>

<p>
  <b>Ranking:</b>
  <%= @college_list.ranking %>
</p>

<p>
  <b>Tuition fee:</b>
  <%= @college_list.tuition_fee %>
</p>

<p>
  <b>Financial aid:</b>
  <%= @college_list.financial_aid %>
</p>

<p>
  <b>About school:</b>
  <%= @college_list.about_school %>
</p>

<p>
  <b>Academic calendar:</b>
  <%= @college_list.academic_calendar %>
</p>

<p>
  <b>Popular major:</b>
  <%= @college_list.popular_major %>
</p>

<p>
  <b>Special feature:</b>
  <%= @college_list.special_feature %>
</p>

<p>
  <b>Degree:</b>
  <%= @college_list.degree %>
</p>

<p>
  <b>Contact info:</b>
  <%= @college_list.contact_info %>
</p>

<p>
  <b>Setting:</b>
  <%= @college_list.setting %>
</p>

<p>
  <b>Pics:</b>
  <%= @college_list.pics %>
</p>

<p>
  <b>Application deadline:</b>
  <%= @college_list.application_deadline %>
</p>

<p>
  <b>Application fee:</b>
  <%= @college_list.application_fee %>
</p>

<p>
  <b>Application method:</b>
  <%= @college_list.application_method %>
</p>

<p>
  <b>Application form:</b>
  <%= @college_list.application_form %>
</p>

<p>
  <b>Application material:</b>
  <%= @college_list.application_material %>
</p>

<p>
  <b>Application mustknow:</b>
  <%= @college_list.application_mustknow %>
</p>

<p>
  <b>Double admission:</b>
  <%= @college_list.double_admission %>
</p>

<p>
  <b>Lang requirement:</b>
  <%= @college_list.lang_requirement %>
</p>

<p>
  <b>D lang requirement:</b>
  <%= @college_list.d_lang_requirement %>
</p>

<p>
  <b>Recommendation form:</b>
  <%= @college_list.recommendation_form %>
</p>

<p>
  <b>Financial form:</b>
  <%= @college_list.financial_form %>
</p>

<p>
  <b>Admission requirement:</b>
  <%= @college_list.admission_requirement %>
</p>

<p>
  <b>Mail test score:</b>
  <%= @college_list.mail_test_score %>
</p>

<p>
  <b>Airport help:</b>
  <%= @college_list.airport_help %>
</p>

<p>
  <b>Boarding:</b>
  <%= @college_list.boarding %>
</p>

<p>
  <b>Notice:</b>
  <%= @college_list.notice %>
</p>

<p>
  <b>Remark:</b>
  <%= @college_list.remark %>
</p>

<p>
  <b>Status:</b>
  <%= @college_list.status %>
</p>


<%= link_to 'Edit', edit_college_list_path(@college_list) %> |
<%= link_to 'Back', college_lists_path %>
