<h1>Listing highschool_rankings</h1>

<table>
  <tr>
    <th>Rank</th>
    <th>Year</th>
    <th>Name en</th>
    <th>Name cn</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @highschool_rankings.each do |highschool_ranking| %>
  <% highschool_ranking.force_utf %>
  <tr>
    <td><%= highschool_ranking.rank %></td>
	<td><%= highschool_ranking.year %></td>
    <td><%= highschool_ranking.name_en %></td>
    <td><%= highschool_ranking.name_cn %></td>
    <td><%= highschool_ranking.status %></td>
    <td><%= link_to 'Show', highschool_ranking %></td>
    <td><%= link_to 'Edit', edit_highschool_ranking_path(highschool_ranking) %></td>
    <td><%= link_to 'Destroy', highschool_ranking, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Highschool ranking', new_highschool_ranking_path %>
