<% @newhope_team.force_utf %>

<p id="notice"><%= notice %></p>

<p>
  <b>Name en:</b>
  <%= @newhope_team.name_en %>
</p>

<p>
  <b>Name cn:</b>
  <%= @newhope_team.name_cn %>
</p>

<p>
  <b>Title en:</b>
  <%= @newhope_team.title_en %>
</p>

<p>
  <b>Title cn:</b>
  <%= @newhope_team.title_cn %>
</p>

<p>
  <b>Email:</b>
  <%= @newhope_team.email %>
</p>

<p>
  <b>Phone:</b>
  <%= @newhope_team.phone %>
</p>

<p>
  <b>Record type:</b>
  <%= @newhope_team.record_type %>
</p>

<p>
  <b>Branch name en:</b>
  <%= @newhope_team.branch_name_en %>
</p>

<p>
  <b>Branch name cn:</b>
  <%= @newhope_team.branch_name_cn %>
</p>

<p>
  <b>Country en:</b>
  <%= @newhope_team.country_en %>
</p>

<p>
  <b>Country cn:</b>
  <%= @newhope_team.country_cn %>
</p>

<p>
  <b>Pic: <%= @newhope_team.newhope_team_pic.url %></b>
  <%= image_tag(@newhope_team.newhope_team_pic.url(:thumb)) %>
</p>

<p>
  <b>Resume:</b>
  <%= @newhope_team.resume %>
</p>

<p>
  <b>Sort order:</b>
  <%= @newhope_team.sort_order %>
</p>

<p>
  <b>Status:</b>
  <%= @newhope_team.status %>
</p>


<%= link_to 'Edit', edit_newhope_team_path(@newhope_team) %> |
<%= link_to 'Back', newhope_teams_path %>
