<h1><%= t('header.label.ourteam') %> -> <%= t("#{@titlelabel}") %></h1>

<hr size=10></hr>

<%= will_paginate @newhope_teams %>

<table class="nhtabclass">

<% @newhope_teams.each do |newhope_team| %>
  <% newhope_team.force_utf %>
  <tr>
    <td class="nhtabtdclasstop" width=20%>
		<!--
		<%= image_tag("/images/newhopeteam/#{newhope_team.pic}", :height => '200', :width => '160', :alt => "New Hope International Education", :class => "round") %>
		-->
		<%= image_tag(newhope_team.newhope_team_pic.url(:large), :height => '200', :width => '160', :alt => "New Hope International Education", :class => "round") %>
	</td>
    <td>
		<b><%= raw(newhope_team.name_cn) %></b><br />
		<%= raw(newhope_team.resume) %>
		<br><br>
		<font size=1><%= t('label.ourteam.phone') %>:</font>&nbsp;<%= raw(newhope_team.phone) %>&nbsp;&nbsp;&nbsp;<font size=1>
		<%= t('label.ourteam.email') %>:</font>&nbsp;<%= raw(newhope_team.email) %>
		<hr size=10></hr>
	</td>
  </tr>
<% end %>
</table>


<%= will_paginate @newhope_teams %>

