<%   @translation.force_utf %>

<%= form_for(@translation) do |f| %>
  <% if @translation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@translation.errors.count, "error") %> prohibited this translation from being saved:</h2>

      <ul>
      <% @translation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nm %><br />
    <%= f.text_field :nm %>
  </div>
  <div class="field">
    <%= f.label :controller_nm %><br />
    <%= f.text_field :controller_nm %>
  </div>
  <div class="field">
    <%= f.label :model_nm %><br />
    <%= f.text_field :model_nm %>
  </div>
  <div class="field">
    <%= f.label :action_nm %><br />
    <%= f.text_field :action_nm %>
  </div>
  <div class="field">
    <%= f.label :func %><br />
    <%= f.text_field :func %>
  </div>
  <div class="field">
    <%= f.label :en_txt %><br />
    <%= f.text_area :en_txt %>
  </div>
  <div class="field">
    <%= f.label :cn_txt %><br />
    <%= f.text_area :zw_txt %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
