<h1>Listing translations</h1>

<table>
  <tr>
    <th>Nm</th>
    <th>Controller nm</th>
    <th>Model nm</th>
    <th>Action nm</th>
    <th>Func</th>
    <th>En txt</th>
    <th>Cn txt</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @translations.each do |translation| %>
	<%   translation.force_utf %>
  <tr>
    <td><%= translation.nm %></td>
    <td><%= translation.controller_nm %></td>
    <td><%= translation.model_nm %></td>
    <td><%= translation.action_nm %></td>
    <td><%= translation.func %></td>
    <td><%= translation.zw_txt %></td>
    <td><%= translation.en_txt %></td>
    <td><%= link_to 'Show', translation %></td>
    <td><%= link_to 'Edit', edit_translation_path(translation) %></td>
    <td><%= link_to 'Destroy', translation, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Translation', new_translation_path %>
