<h1>Listing service_requests</h1>

<table>
  <tr>
    <th>Student name</th>
    <th>Year of birth</th>
    <th>Gender</th>
    <th>Parent name</th>
    <th>Relationship</th>
    <th>Street</th>
    <th>City</th>
    <th>Country</th>
    <th>Nationality</th>
    <th>Cell phone</th>
    <th>Home phone</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @service_requests.each do |service_request| %>
  <tr>
    <td><%= service_request.student_name %></td>
    <td><%= service_request.year_of_birth %></td>
    <td><%= service_request.gender %></td>
    <td><%= service_request.parent_name %></td>
    <td><%= service_request.relationship %></td>
    <td><%= service_request.street %></td>
    <td><%= service_request.city %></td>
    <td><%= service_request.country %></td>
    <td><%= service_request.nationality %></td>
    <td><%= service_request.cell_phone %></td>
    <td><%= service_request.home_phone %></td>
    <td><%= service_request.email %></td>
    <td><%= link_to 'Show', service_request %></td>
    <td><%= link_to 'Edit', edit_service_request_path(service_request) %></td>
    <td><%= link_to 'Destroy', service_request, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Service request', new_service_request_path %>
