<% @service_request.force_utf %>

<p id="notice"><%= notice %></p>

<p>
  <b>Student name:</b>
  <%= @service_request.student_name %>
</p>

<p>
  <b>Year of birth:</b>
  <%= @service_request.year_of_birth %>
</p>

<p>
  <b>Gender:</b>
  <%= @service_request.gender %>
</p>

<p>
  <b>Parent name:</b>
  <%= @service_request.parent_name %>
</p>

<p>
  <b>Relationship:</b>
  <%= @service_request.relationship %>
</p>

<p>
  <b>Street:</b>
  <%= @service_request.street %>
</p>

<p>
  <b>City:</b>
  <%= @service_request.city %>
</p>

<p>
  <b>Country:</b>
  <%= @service_request.country %>
</p>

<p>
  <b>Nationality:</b>
  <%= @service_request.nationality %>
</p>

<p>
  <b>Cell phone:</b>
  <%= @service_request.cell_phone %>
</p>

<p>
  <b>Home phone:</b>
  <%= @service_request.home_phone %>
</p>

<p>
  <b>Email:</b>
  <%= @service_request.email %>
</p>

<p>
  <b>Service grade:</b>
  <%= @service_request.service_grade %>
</p>

<p>
  <b>Service type:</b>
  <%= @service_request.service_type %>
</p>

<p>
  <b>Service city:</b>
  <%= @service_request.service_city %>
</p>

<p>
  <b>Service state:</b>
  <%= @service_request.service_state %>
</p>

<p>
  <b>Service detail:</b>
  <%= @service_request.service_detail %>
</p>

<p>
  <b>Way to know nh:</b>
  <%= @service_request.way_to_know_nh %>
</p>

<p>
  <b>Comments:</b>
  <%= @service_request.comments %>
</p>

<p>
  <b>Status:</b>
  <%= @service_request.status %>
</p>

<p>
  <b>Updated by:</b>
  <%= @service_request.updated_by %>
</p>


<%= link_to 'Edit', edit_service_request_path(@service_request) %> |
<%= link_to 'Back', service_requests_path %>
