<%= render 'shared/error_messages', :object => f.object %>

<div class="field">
	<%= t('label.name') %><br />
	<%= f.text_field :name %>
</div>

<div class="field">
	<%= t('label.email') %><br />
	<%= f.text_field :email %>
</div>

<div class="field">
	<%= t('label.password') %><br />
	<%= f.password_field :password %>
</div>

<div class="field">
	<%= t('label.confirmation') %><br />
	<%= f.password_field :password_confirmation %>
</div>

<div class="field">
	<%= t('label.cellphone') %>&nbsp;(<%= t('label.phoneformat') %>)<br />
	<%= f.text_field :cellphone %>
</div>

<div class="field">
	<%= t('label.homephone') %>&nbsp;(<%= t('label.phoneformat') %>)<br />
	<%= f.text_field :homephone %>
</div>
