

<table class="profile" summary="Profile information">
	<tr>
		<td class="sidebar round">
			<%= link_to "My account", @user %><br />
			<%= link_to "Profile", edit_user_path(current_user) %><br />
			<%= link_to "All users", users_path %><br />
			<%= link_to "My posts", mypost_path %>
		</td>
		
		<td class="main">
			<h1>Edit user</h1>

			<%= form_for(@user) do |f| %>
				<%= render 'fields', :f => f %>
				
				<div class="actions">
					<!--
					<%= submit_or_cancel(f) %><br />
					-->
					<%= f.submit %> or <%= link_to "Cancel", @user %>
				</div>
			<% end %>

			<div>
				<%= gravatar_for @user %>
				<a href="http://gravatar.com/emails">change</a>
			</div>
		</td>
	</tr>
</table>