<table class="profile" summary="Profile information">
	<tr>
		<td class="sidebar round">
			<%= link_to "My account", @user %><br />
			<%= link_to "Profile", edit_user_path(current_user) %><br />
			<%= link_to "All users", users_path %><br />
			<%= link_to "My posts", mypost_path %>
		</td>
		
		<td class="main">
			<h1>All users</h1>
			
			<%= will_paginate %>
			
			<ul class="users">
					<%= render @users %>
			</ul>
			
			<%= will_paginate %>
		</td>
	</tr>
</table>