<table class="profile" summary="Profile information">
	<tr>
		<td class="sidebar round">
			<%= link_to "Profile", edit_user_path(current_user) %><br />
			<%= link_to "All users", users_path %><br />
			<%= link_to "My posts", mypost_path %>
		</td>
		
		<td class="main">
			<strong>Name</strong> <%= @user.name %><br />
			<strong>URL</strong> <%= link_to user_path(@user), @user %><br />
			
			<h1>
				<%= gravatar_for @user %>
				<%= @user.name %>
			</h1>
		</td>
	</tr>
</table>