
<h1><%= t('header.label.contact') %></h1>
<p>
	<h4><%= t('label.contactus.msg') %></h4>

	<table class="nhtabclass">
		
	<tr>
	<td class="nhtabtdclassleft">
	<%= t('label.contactus.usa') %>:
	</td>
	<td></td>
	</tr>
	
	<tr><td colspan=20 class="nhtabtdclassleft"><%= t('label.contactus.chicago') %>:
	</td>
	</tr>
	
	<tr>
	<td class="nhtabtdclassright"><%= t('label.contactus.address') %>:</td>
	<td>P.O. Box 958632, Hoffman Estates, IL60195-8632
	</td>
	</tr>
	
	<tr>
	<td class="nhtabtdclassright"><%= t('label.contactus.phone') %>:</td>
	<td>1-630-237-4296</td>
	</tr>
	
	<!--
	<tr>
	<td class="nhtabtdclassright"><%= t('label.contactus.fax') %>:  </td>
	<td>1-847-755-0607</td>
	</tr>
	-->
	
	<tr>
	<td class="nhtabtdclassright"><%= t('label.email') %>:</td>
	<td><A href="mailto:info@newhopeeducation.com">info@newhopeeducation.com</A></td>
	</tr>
	
	<tr>
	<td class="nhtabtdclassright"><%= t('label.contactus.website') %>:</td>
	<td><a href="http://www.newhopeeducation.com" target=blank>www.newhopeeducation.com</a></td>
	</tr>
	
	<tr><td colspan=2></td></tr>
	
	<tr>
	<td colspan=2><%= gmaps4rails(@json) %></td>
	</tr>
	
	<tr><td colspan=2><br></td></tr>
	
	<tr>
		<td class="nhtabtdclassleft">
			<%= t('label.contactus.china') %>:
		</td>
		<td></td>
	</tr>
	
	<tr><td colspan=20 class="nhtabtdclassleft"><%= t('label.contactus.xian') %>:
	</td>
	</tr>
	
	<tr>
	<td class="nhtabtdclassright"><%= t('label.contactus.address') %>:</td>
	<td><%= t('label.contactus.xianaddress') %>
	</td>
	</tr>
	
	<tr>
	<td class="nhtabtdclassright"><%= t('label.contactus.phone') %>:</td>
	<td>86-29-8765-1977, 86-29-8765-1976</td>
	</tr>
	
	<tr>
	<td class="nhtabtdclassright"><%= t('label.contactus.fax') %>:  </td>
	<td>86-29-8765-1976</td>
	</tr>
	
	<tr>
	<td class="nhtabtdclassright"><%= t('label.contactus.website') %>:</td>
	<td><a href="http://www.newhope2011.com" target=blank>www.newhope2011.com</a></td>
	</tr>
	
	<tr><td colspan=2>
		<iframe width="800" height="550" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=%E4%B8%AD%E5%9B%BD%E9%99%95%E8%A5%BF%E7%9C%81%E8%A5%BF%E5%AE%89%E5%B8%82%E7%A2%91%E6%9E%97%E5%8C%BA%E5%8D%97%E5%85%B3%E6%AD%A3%E8%A1%9788%E5%8F%B7%E9%95%BF%E5%AE%89%E5%9B%BD%E9%99%85%E4%B8%AD%E5%BF%83&amp;aq=&amp;sll=34.25977,108.903008&amp;sspn=0.142728,0.308647&amp;ie=UTF8&amp;hq=%E9%95%BF%E5%AE%89%E5%9B%BD%E9%99%85%E4%B8%AD%E5%BF%83&amp;hnear=China+Shaanxi+Xian+Bei+Lin+Qu+Nan+Guan+Zheng+Jie+88%E5%8F%B7&amp;ll=34.248216,108.945376&amp;spn=0.008922,0.01929&amp;z=14&amp;iwloc=A&amp;cid=6991313981229192492&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=%E4%B8%AD%E5%9B%BD%E9%99%95%E8%A5%BF%E7%9C%81%E8%A5%BF%E5%AE%89%E5%B8%82%E7%A2%91%E6%9E%97%E5%8C%BA%E5%8D%97%E5%85%B3%E6%AD%A3%E8%A1%9788%E5%8F%B7%E9%95%BF%E5%AE%89%E5%9B%BD%E9%99%85%E4%B8%AD%E5%BF%83&amp;aq=&amp;sll=34.25977,108.903008&amp;sspn=0.142728,0.308647&amp;ie=UTF8&amp;hq=%E9%95%BF%E5%AE%89%E5%9B%BD%E9%99%85%E4%B8%AD%E5%BF%83&amp;hnear=China+Shaanxi+Xian+Bei+Lin+Qu+Nan+Guan+Zheng+Jie+88%E5%8F%B7&amp;ll=34.248216,108.945376&amp;spn=0.008922,0.01929&amp;z=14&amp;iwloc=A&amp;cid=6991313981229192492" style="color:#0000FF;text-align:left">View Larger Map</a></small>
	
	</td></tr>
	
	</table>
	
</p>
