
<h1><%= t('header.label.contact') %></h1>
<p>
	<h4><%= t('label.contactus.msg') %></h4>

	<table class="nhtabclass">
	<tr>
	<td class="nhtabtdclassleft">
	<%= t('label.contactus.china') %>:
	</td>
	<td></td>
	</tr>
	
	<tr><td colspan=20 class="nhtabtdclassleft"><%= t('label.contactus.xian') %>:
	</td>
	</tr>
	
	<tr>
	<td class="nhtabtdclassright"><%= t('label.contactus.address') %>:</td>
	<td><%= t('label.contactus.xianaddress') %>
	</td>
	</tr>
	
	<tr>
	<td class="nhtabtdclassright"><%= t('label.contactus.phone') %>:</td>
	<td>86-29-8765-1977, 86-29-8765-1976</td>
	</tr>
	
	<tr>
	<td class="nhtabtdclassright"><%= t('label.contactus.fax') %>:  </td>
	<td>86-29-8765-1976</td>
	</tr>
	
	<tr>
	<td class="nhtabtdclassright"><%= t('label.contactus.website') %>:</td>
	<td>www.newhope2011.com</td>
	</tr>
	
	<tr><td><br></td></tr>
	
	<tr>
	<td class="nhtabtdclassleft">
	<%= t('label.contactus.usa') %>:
	</td>
	<td></td>
	</tr>
	
	<tr><td colspan=20 class="nhtabtdclassleft"><%= t('label.contactus.chicago') %>:
	</td>
	</tr>
	
	<!--
	<tr>
	<td class="nhtabtdclassright"><%= t('label.contactus.address') %>:</td>
	<td>629 Yardley Lane, Hoffman Estates, IL 60169
	</td>
	</tr>
	-->
	
	<tr>
	<td class="nhtabtdclassright"><%= t('label.contactus.phone') %>:</td>
	<td>1-224-805-7127</td>
	</tr>
	
	<tr>
	<td class="nhtabtdclassright"><%= t('label.contactus.website') %>:</td>
	<td>newhope.heroku.com</td>
	</tr>
	</table>
	
</p>
