<table>
	<tr>
		<td width=50%>
			<!--
			<%= render :template => 'pages/home_news' %>
			-->
			<%= render :template => 'pages/home_highschool' %>
		</td>
		<td width=50%>
			<%= render :template => 'pages/home_college' %>
		</td>
	</tr>
	
	<tr>
		<td width=50%>
			<%= render :template => 'pages/home_hostfamily' %>
		</td>
		<td width=50%>
			<%= render :template => 'pages/home_testimonial' %>
		</td>
	</tr>
</table>

<!--
<%= render :template => 'pages/home_contact' %>
-->