<table>
	<tr>
		<td width=50%>
			<%= render :template => 'pages/home_news' %>
		</td>
		<td width=50%>
			<%= render :template => 'pages/home_school' %>
		</td>
	</tr>
	
	<tr>
		<td width=50%>
			<%= render :template => 'pages/home_hostfamily' %>
		</td>
		<td width=50%>
			<%= render :template => 'pages/home_testimonial' %>
		</td>
	</tr>
</table>

<%= render :template => 'pages/home_contact' %>