<h1><%= t('label.hostfamily.servicerequest.availabehomestay') %></h1>

<hr size=10></hr>

<%= will_paginate @host_family_infos %>

<table>
  <tr>
    <th> # </th>
    <th><%= t('label.hostfamily.servicerequest.label.city') %></th>
    <th><%= t('label.hostfamily.servicerequest.label.state') %></th>
    <th><%= t('label.hostfamily.servicerequest.label.zipcode') %></th>
  </tr>

<% i = 0 %>
<% @host_family_infos.each do |host_family_info| %>
	<%   host_family_info.force_utf %>
	<% i = i + 1 %>
  <tr>
    <% if host_family_info.host_family_photos.empty? %>
		<td><%= i %></td> 
	<% else %>
		<td><%= link_to i, host_families_showhostfamilyphoto_path(:id => host_family_info.id) %></td> 
	<% end %>
    <td><%= host_family_info.city %></td>
    <td><%= host_family_info.state %></td>
    <td><%= host_family_info.zip %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @host_family_infos %>