<h1><%= t('label.hostfamily.servicerequest.availabehomestay') %></h1>

<%= will_paginate @host_family_infos %>

<table>
  <tr>
    <th> # </th>
    <th><%= t('label.hostfamily.servicerequest.label.city') %></th>
    <th><%= t('label.hostfamily.servicerequest.label.state') %></th>
    <th><%= t('label.hostfamily.servicerequest.label.zipcode') %></th>
  </tr>

<% i = 0 %>
<% @host_family_infos.each do |host_family_info| %>
	<%   host_family_info.force_utf %>
	<% i = i + 1 %>
  <tr>
    <td><%= i %></td> 
    <td><%= host_family_info.city %></td>
    <td><%= host_family_info.state %></td>
    <td><%= host_family_info.zip %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @host_family_infos %>