<h1><%= t('label.myaccount.studenthostfamilypicture') %></h1> 
<%= will_paginate @student_hostfamily_pictures %>

<hr size=10></hr>

<table class="nhtabclass">

<% 
	totalpic = @student_hostfamily_pictures.size
	picperrow = @picperrow
	totalrow = (totalpic + picperrow - 1)/ picperrow;
	i = 0
%>

<% if totalpic > 0 %>
	<% while i < totalrow %>
		<tr>
		    <% j = 0 %>
			<% while j < picperrow %>
				<% if i * picperrow + j < totalpic %>
					<td class="nhtabtdclasstop" width=20%>
						<%= link_to image_tag @student_hostfamily_pictures[i * picperrow + j].pic.url(:thumb), host_families_showhomestayphoto_path(:id => @student_hostfamily_pictures[i * picperrow + j]) %>
						<br>
						<%= link_to @student_hostfamily_pictures[i * picperrow + j].location, host_families_showhomestayphoto_path(:id => @student_hostfamily_pictures[i * picperrow + j]) %>
					</td>
				<% else %>
					<td></td>
				<% end %>
				<% j = j + 1 %>
			<% end %>
		</tr>
		<% i = i + 1 %>
	<% end %>
<% end %>

</table>

<%= will_paginate @student_hostfamily_pictures %>