<h1><%= t('label.school.highschool') %> -> <%= t(@titlelabel) %></h1>
<hr size=10></hr>

<table>
  <tr>
    <th>#</th>
    <th><%= t('label.highschool.label.schoolname') %></th>
	<th></th>
    <th><%= t('label.highschool.label.schooltype') %></th>
    <th><%= t('label.highschool.label.schooladdress') %></th>
	<th><%= t('label.highschool.label.citynearby') %></th>
	<!--
    <th>State</th>
    <th>Zip</th>
    <th>Website</th>
    <th>About en</th>
    <th>About cn</th>
    <th>School pics</th>
    <th>Founded</th>
    <th>Grade en</th>
    <th>Grade cn</th>
    <th>Student type en</th>
    <th>Student type cn</th>
    <th>Religion en</th>
    <th>Religion cn</th>
    <th>Total student</th>
    <th>Total teacher</th>
    <th>Teacher student ratio</th>
    <th>Percentage of asia student</th>
    <th>Num of chinese student</th>
    <th>Num of ap class</th>
    <th>Num of honor class</th>
    <th>Esl class</th>
    <th>School bus</th>
    <th>Winter entry en</th>
    <th>Winter entry cn</th>
    <th>Fall entry en</th>
    <th>Fall entry cn</th>
    <th>Airport en</th>
    <th>Airport cn</th>
    <th>Uniform</th>
    <th>Interview</th>
    <th>Required test</th>
    <th>Avg sac atc</th>
    <th>Tuition</th>
    <th>Other fee en</th>
    <th>Other fee cn</th>
    <th>Facility en</th>
    <th>Facility cn</th>
    <th>Top university</th>
    <th>Club activity en</th>
    <th>Club activity cn</th>
    <th>City nearby en</th>
    <th>City nearby cn</th>
    <th>About neary city en</th>
    <th>About nearby city cn</th>
    <th>Nearby city pics</th>
    <th>School level</th>
    <th>Remarks</th>
	<th></th>
	-->
  </tr>

<% i = 0 %>
<% @high_school_lists.each do |high_school_list| %>
  <%   high_school_list.force_utf %>
  <% i = i + 1 %>
  <tr>
  <% if I18n.locale == :en %>
        <td><%= link_to i, high_schools_highschooldetail_path(:id=>high_school_list) %></td>
		<td><%= high_school_list.name_en %></td>
		<td><%= high_school_list.name_cn  %></td>
		<td><%= high_school_list.hs_type %></td>
		<td><%= high_school_list.state %> <%= high_school_list.zip %></td>
		<td><%= high_school_list.city_nearby_en %></td>
	<% else %>
	    <td><%= link_to i, high_schools_highschooldetail_path(:id=>high_school_list) %></td>
		<td><%= high_school_list.name_en  %></td>
		<td><%= high_school_list.name_cn  %></td>
		<td><%= high_school_list.hs_type %></td>
		<td><%= high_school_list.state %> <%= high_school_list.zip %></td>
		<td><%= high_school_list.city_nearby_cn %></td>
	<% end %>
	<!--
    <td><%= high_school_list.website %></td>
    <td><%= high_school_list.about_en %></td>
    <td><%= high_school_list.about_cn %></td>
    <td><%= high_school_list.school_pics %></td>
    <td><%= high_school_list.founded %></td>
    <td><%= high_school_list.grade_en %></td>
    <td><%= high_school_list.grade_cn %></td>
    <td><%= high_school_list.student_type_en %></td>
    <td><%= high_school_list.student_type_cn %></td>
    <td><%= high_school_list.religion_en %></td>
    <td><%= high_school_list.religion_cn %></td>
    <td><%= high_school_list.total_student %></td>
    <td><%= high_school_list.total_teacher %></td>
    <td><%= high_school_list.teacher_student_ratio %></td>
    <td><%= high_school_list.percentage_of_asia_student %></td>
    <td><%= high_school_list.num_of_chinese_student %></td>
    <td><%= high_school_list.num_of_ap_class %></td>
    <td><%= high_school_list.num_of_honor_class %></td>
    <td><%= high_school_list.esl_class %></td>
    <td><%= high_school_list.school_bus %></td>
    <td><%= high_school_list.winter_entry_en %></td>
    <td><%= high_school_list.winter_entry_cn %></td>
    <td><%= high_school_list.fall_entry_en %></td>
    <td><%= high_school_list.fall_entry_cn %></td>
    <td><%= high_school_list.airport_en %></td>
    <td><%= high_school_list.airport_cn %></td>
    <td><%= high_school_list.uniform %></td>
    <td><%= high_school_list.interview %></td>
    <td><%= high_school_list.required_test %></td>
    <td><%= high_school_list.avg_sac_atc %></td>
    <td><%= high_school_list.tuition %></td>
    <td><%= high_school_list.other_fee_en %></td>
    <td><%= high_school_list.other_fee_cn %></td>
    <td><%= high_school_list.facility_en %></td>
    <td><%= high_school_list.facility_cn %></td>
    <td><%= high_school_list.top_university %></td>
    <td><%= high_school_list.club_activity_en %></td>
    <td><%= high_school_list.club_activity_cn %></td>
    <td><%= high_school_list.city_nearby_en %></td>
    <td><%= high_school_list.city_nearby_cn %></td>
    <td><%= high_school_list.about_neary_city_en %></td>
    <td><%= high_school_list.about_nearby_city_cn %></td>
    <td><%= high_school_list.nearby_city_pics %></td>
    <td><%= high_school_list.school_level %></td>
    <td><%= high_school_list.remarks %></td>
	<td><%= link_to 'Show', high_school_list %></td>
	-->
  </tr>
<% end %>
</table>
