<%   @high_school_list.force_utf %>

<p id="notice"><%= notice %></p>

<p>
  <b>Name en:</b>
  <%= @high_school_list.name_en %>
</p>

<p>
  <b>Name cn:</b>
  <%= @high_school_list.name_cn %>
</p>

<p>
  <b>Hs type:</b>
  <%= @high_school_list.hs_type %>
</p>

<p>
  <b>Address:</b>
  <%= @high_school_list.address %>
</p>

<p>
  <b>State:</b>
  <%= @high_school_list.state %>
</p>

<p>
  <b>Zip:</b>
  <%= @high_school_list.zip %>
</p>

<p>
  <b>Contact:</b>
  <%= @high_school_list.contact %>
</p>

<p>
  <b>Website:</b>
  <%= @high_school_list.website %>
</p>

<p>
  <b>About en:</b>
  <%= raw(@high_school_list.about_en) %>
</p>

<p>
  <b>About cn:</b>
  <%= raw(@high_school_list.about_cn) %>
</p>

<p>
  <!--
  <b>School pics:</b>
  <%= @high_school_list.school_pics %>
  -->
  
  <b>High school pic:</b><%= @high_school_list.high_school_pic.url %><br>
  <%= image_tag(@high_school_list.high_school_pic.url(:thumb)) %>
</p>

<p>
  <b>High school pdf:</b><%= @high_school_list.high_school_pdf.url %><br>
  <a href="<%= @high_school_list.high_school_pdf.url %> "><b> File attached </b></a>
</p>

<p>
  <b>High school pdf:</b><%= @high_school_list.high_school_pdf.url %><br>
  <%= image_tag(@high_school_list.high_school_pdf.url) %>
</p>

<p>
  <b>Founded:</b>
  <%= @high_school_list.founded %>
</p>

<p>
  <b>Grade en:</b>
  <%= @high_school_list.grade_en %>
</p>

<p>
  <b>Grade cn:</b>
  <%= @high_school_list.grade_cn %>
</p>

<p>
  <b>Student type en:</b>
  <%= @high_school_list.student_type_en %>
</p>

<p>
  <b>Student type cn:</b>
  <%= @high_school_list.student_type_cn %>
</p>

<p>
  <b>Religion en:</b>
  <%= @high_school_list.religion_en %>
</p>

<p>
  <b>Religion cn:</b>
  <%= @high_school_list.religion_cn %>
</p>

<p>
  <b>Total student:</b>
  <%= @high_school_list.total_student %>
</p>

<p>
  <b>Total teacher:</b>
  <%= @high_school_list.total_teacher %>
</p>

<p>
  <b>Teacher student ratio:</b>
  <%= @high_school_list.teacher_student_ratio %>
</p>

<p>
  <b>Percentage of asia student:</b>
  <%= @high_school_list.percentage_of_asia_student %>
</p>

<p>
  <b>Num of chinese student:</b>
  <%= @high_school_list.num_of_chinese_student %>
</p>

<p>
  <b>Num of ap class:</b>
  <%= @high_school_list.num_of_ap_class %>
</p>

<p>
  <b>Num of honor class:</b>
  <%= @high_school_list.num_of_honor_class %>
</p>

<p>
  <b>Esl class:</b>
  <%= @high_school_list.esl_class %>
</p>

<p>
  <b>School bus:</b>
  <%= @high_school_list.school_bus %>
</p>

<p>
  <b>Winter entry en:</b>
  <%= @high_school_list.winter_entry_en %>
</p>

<p>
  <b>Winter entry cn:</b>
  <%= @high_school_list.winter_entry_cn %>
</p>

<p>
  <b>Fall entry en:</b>
  <%= @high_school_list.fall_entry_en %>
</p>

<p>
  <b>Fall entry cn:</b>
  <%= @high_school_list.fall_entry_cn %>
</p>

<p>
  <b>Airport en:</b>
  <%= @high_school_list.airport_en %>
</p>

<p>
  <b>Airport cn:</b>
  <%= @high_school_list.airport_cn %>
</p>

<p>
  <b>Uniform:</b>
  <%= @high_school_list.uniform %>
</p>

<p>
  <b>Interview:</b>
  <%= @high_school_list.interview %>
</p>

<p>
  <b>Required test:</b>
  <%= @high_school_list.required_test %>
</p>

<p>
  <b>Avg sac atc:</b>
  <%= @high_school_list.avg_sac_atc %>
</p>

<p>
  <b>Tuition:</b>
  <%= @high_school_list.tuition %>
</p>

<p>
  <b>Other fee en:</b>
  <%= @high_school_list.other_fee_en %>
</p>

<p>
  <b>Other fee cn:</b>
  <%= @high_school_list.other_fee_cn %>
</p>

<p>
  <b>Characteristics:</b>
  <%= raw(@high_school_list.characteristics) %>
</p>
  
<p>
  <b>Facility en:</b>
  <%= @high_school_list.facility_en %>
</p>

<p>
  <b>Facility cn:</b>
  <%= @high_school_list.facility_cn %>
</p>

<p>
  <b>Top university:</b>
  <%= @high_school_list.top_university %>
</p>

<p>
  <b>Club activity en:</b>
  <%= raw(@high_school_list.club_activity_en) %>
</p>

<p>
  <b>Club activity cn:</b>
  <%= raw(@high_school_list.club_activity_cn) %>
</p>

<p>
  <b>City nearby en:</b>
  <%= raw(@high_school_list.city_nearby_en) %>
</p>

<p>
  <b>City nearby cn:</b>
  <%= raw(@high_school_list.city_nearby_cn) %>
</p>

<p>
  <b>About neary city en:</b>
  <%= raw(@high_school_list.about_neary_city_en) %>
</p>

<p>
  <b>About nearby city cn:</b>
  <%= raw(@high_school_list.about_nearby_city_cn) %>
</p>

<p>
  <!--
  <b>Nearby city pics:</b>
  <%= @high_school_list.nearby_city_pics %>
  -->
  
  <b>High school City pic:</b><%= @high_school_list.high_school_city_pic.url %><br>
  <%= image_tag(@high_school_list.high_school_city_pic.url(:thumb)) %>
</p>

<p>
  <b>School level:</b>
  <%= @high_school_list.school_level %>
</p>

<p>
  <b>Remarks:</b>
  <%= raw(@high_school_list.remarks) %>
</p>


<%= link_to 'Edit', edit_high_school_list_path(@high_school_list) %> |
<%= link_to 'Back', high_school_lists_path %>
