<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
		<title><%= title %></title>
		<%= csrf_meta_tag %>
		<%= yield :head %>
		<%= render 'layouts/stylesheets' %>
		<%= javascript_include_tag :defaults %>
	</head>
	<body>
		<div class="container">
			<%= render 'layouts/header' %>
			<section class="round">
				<% flash.each do |key, value| %>
					<div class="flash <%= key %>"><%= value %></div>
				<% end %>
				<% if @curr_layout.nil? %>
					<%= yield %>
				<% else %>
					<%= render @curr_layout %>
				<% end %>
			</section>
			<%= render 'layouts/footer' %>
			<%= debug (locale) if Rails.env.development? %>
			<%= debug(params) if Rails.env.development? %>
		</div>
		<%= yield :scripts %>
	</body>
</html>
